<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched">
        Email is required.
      </div>
      <div *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched">
        Email is invalid.
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="form.get('password')?.errors?.['invalidPassword'] && form.get('password')?.touched">
        Password must be at least 10 characters, include one capital letter, at least 1 number and 1 special character.
      </div>
    </div>
  
    <button type="button" (click)="navigateHome()">Cancel</button>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  
  </form>
  