<div class="container">
    <p-message  *ngIf="success" class="statusMessage" text="Successfully added manager!" severity="success"></p-message>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Add Manager</h2>
        <div class="p-field form">
            <input type="email" id="email" formControlName="email" pInputText required class="w-full mb-3" placeholder="E-mail">
            <input type="password" id="password" formControlName="password" pInputText required class="w-full mb-3" placeholder="Password">
        </div>
      
        <div class="p-field errors">
            <ul>
                <li *ngIf="form.get('password')?.errors?.['invalidPassword'] && form.get('password')?.touched" id="username-help" class="p-error">Password must be at least 10 characters, include one capital letter, at least 1 number and 1 special character.</li>
                <li *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched" id="username-help" class="p-error">Email is invalid</li>
                <li *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched" id="username-help" class="p-error">Email is required</li>
            </ul>
        </div>
      
        <div class="p-field-button">
            <button pButton label="Cancel" type="button" (click)="navigateHome()" class="p-button-text p-mr-2"></button>
            <button pButton label="Submit" type="submit" [disabled]="form.invalid"></button>
        </div>
      
    </form>
</div>
