<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="p-field">
            <input type="email" id="email" formControlName="email" pInputText class="w-full mb-3" placeholder="E-mail">
            <small *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched" id="username-help" class="p-error">Email is invalid</small>
            <small *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched" id="username-help" class="p-error">Email is required</small>
        </div>
      
        <div class="p-field">
            <input type="password" id="password" formControlName="password" pInputText class="w-full mb-3" placeholder="Password">
            <small *ngIf="form.get('password')?.errors?.['invalidPassword'] && form.get('password')?.touched" id="username-help" class="p-error">Password must be at least 10 characters, include one capital letter, at least 1 number and 1 special character.</small>
        </div>
      
        <div class="p-field-button">
            <button pButton label="Cancel" type="button" (click)="navigateHome()" class="p-button-text p-mr-2"></button>
            <button pButton label="Submit" type="submit" [disabled]="form.invalid"></button>
        </div>
      
    </form>
</div>
