<p-table 
  [value]="restaurants" 
  dataKey="name" 
  responsiveLayout="stack"
  scrollHeight="flex">
  
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>
            Status
            <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" (onChange)="onStatusFilterChange()" placeholder="Select a Status"></p-dropdown>
          </th>
          <th>Address</th>
          <th>Website</th>
          <th style="width: 5rem"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-restaurant>
      <tr>
          <td>{{ restaurant.name }}</td>
          <td>
            <span class="status" [ngClass]="{
              'valid-status': restaurant.status === 'ACTIVE', 
              'invalid-status': restaurant.status === 'INACTIVE'}">
              {{ restaurant.status }}
            </span>
          </td>
          <td>{{ restaurant.address.formattedAddress }}</td>
          <td>{{ restaurant.website }}</td>
          <td><button class="manager-btn" type="button" pButton pRipple icon="pi pi-user" [routerLink]="['/restaurant', restaurant.id, 'manager']"></button></td>
      </tr>
  </ng-template>
</p-table>
<app-custom-paginator [pageInfo]="meta" (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemsPerPageChange($event)"></app-custom-paginator>
