.tbl {
    &.name {
        font-family: 'CeraProMedium', Arial;
        width: 30%;
    }
    &.status {
        width: 10%;
    }
    &.address {
        width: 30%;
    }
    &.website {
        width: 25%;
        a {
            &:hover {
                color: #feae1c;
            }
        }
    }
    &.manager {
        width: 5%;
    }
}
.tblrow {
    &:hover {
        background: #f8f9fa;
        transition:0.15s ease-in background;
    }
}
th.tbl {
    font-family: 'CeraProMedium', Arial;
}

td.tbl {
    font-family: 'CeraProLight', Arial;
    padding: 0.65rem !important;
}
.status {
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.valid-status {
    background: green;
}
.invalid-status {
    background: red;
}
.manager-btn {
    width: 25px;
    height: 25px;
    background: none;
    border: 0px solid black;
    color: grey;
    &:hover {
        color: #feae1c;
        background: none;
    }
}