<p-table 
  [value]="restaurants" 
  dataKey="name" 
  responsiveLayout="stack"
  scrollHeight="flex">
  
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>
            Status
            <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" (onChange)="onStatusFilterChange()" placeholder="Select a Status"></p-dropdown>
          </th>
          <th>Address</th>
          <th>Website</th>
          <th style="width: 5rem"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-restaurant>
      <tr>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.status }}</td>
          <td>{{ restaurant.address.formattedAddress }}</td>
          <td>{{ restaurant.website }}</td>
          <td><button type="button" pButton pRipple icon="pi pi-plus" [routerLink]="['/restaurant', restaurant.id, 'manager']">Add Manager</button></td>
      </tr>
  </ng-template>
</p-table>
<app-custom-paginator [pageInfo]="meta" (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemsPerPageChange($event)"></app-custom-paginator>
